h1 {
    width: 400px;
    background-color: green;
    color: white;
    text-align: center;
    border: 5px solid #264653;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
    font-size: 1.8em;
    padding: 0.7em;
}

h1:nth-of-type(2n) {
    background-color: yellowgreen;
}

h1:nth-of-type(3n) {
    background-color: brown;
}

h1:nth-of-type(4n) {
    background-color: #f77f00;

}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(45deg);
}

section:first-of-type h1:nth-of-type(2) {

    transform: scale(0.7);
}

section:first-of-type h1:nth-of-type(3) {
    transform: translate(300px);
}

section:first-of-type h1:nth-of-type(4) {
    transform: translate(-300px, -150px);
}

section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(25deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(25deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotateX(30deg) scale(1.4) rotate(40deg);
}